<%- include("../partials/header") %>

<div class="ui container main text segment">
  <div class="ui huge header">Add a New Comment to <%= cars.model %></div>
  <form class="ui form" action="/cars/<%= cars._id %>/comments" method="POST">
    <div class="field">
      <label>Text</label
      ><input type="text" name="comments[text]" placeholder="Text" />
    </div>
    <button class="ui basic button red" type="submit">Submit</button>
  </form>
</div>

<%- include("../partials/footer") %>
