<%- include("./partials/header") %>
<div class="ui form" id="homepage-search-feature">
  <div class="field">
    <label>Used Cars for Sale</label>
    <form action="/search" method="GET">
      <div class="ui icon input">
        <input
          class="prompt"
          type="text"
          name="q"
          placeholder="Search by Make, Model or Keyword"
        />
        <i class="search icon"></i>
      </div>
    </form>
  </div>
</div>
<div class="ui container">
  <div class="ui inverted vertical masthead center aligned segment">
    <img class="ui fluid image" src="/public/images/8889.jpg" />
    <div class="ui text container centered-text">
      <h1 class="ui inverted header">
        Carfax Clone
      </h1>
      <h2>Shop used cars from 10000+ sellers in the US</h2>
        <a href="cars/"><button class="ui huge blue button">Get Started </button></a>
      </button>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
